body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  nav {
    background-color: #ffffff;
    color: #020202;
    display: flex;
    justify-content: space-between;
    padding: 37px 3rem;
  }

  .logo {
    /*order: 2; *//* Move the logo to the right */
    display:flex;
    align-items:center;
    text-align: center;
  }

.logo img {
    margin-right: 8px; /* Adjust the margin as needed for spacing between the image and text */
    height:30px;
    width:30px;
    border-radius: 40%;
}

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  li {
    margin-right: 20px;
  }

  a {
    text-decoration: none;
    color: #000000;
  }

#Main-title-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    text-align:left;
    background: linear-gradient(180.43deg, rgba(0,0,0,0.60) 0%, rgba(0,0,0,0.80) 100%), url(Images/backimg1.png);
    background-size: cover!important;
    background-position: 50%!important;
    background-repeat: no-repeat;
    width: 90vw; 
    height: 90vh;
    color: whitesmoke;
    padding:50px;
}

.ptagline{
    font-size: 25px;
    font-family: sans-serif;
    padding: 60px;
}

#first-container{
  display:flex;
  align-items: center;
  justify-content:center;
}

.item{
  padding:30px;
  border:1px solid rgb(152, 150, 150)
}

#Footer{
  display:flex;
  gap:20px;
  flex-basis:auto;
  background-color: black;
  color:whitesmoke;
  padding: 20px;
  padding-top:40px;
  padding-bottom: 40px;
}

#Footer > * {                     /*each child of Footer*/
  flex-grow: 1;
}

#Footer div a{
  text-decoration: none;
  color:white;
}

.footerh{
  color:rgb(149, 147, 147);
}